{% extends "base.html" %}

{% block content%}

<div style="width: 50%; height: 500px; margin:auto" class="pt-05">

<h3>Movie Rating Form</h3>


<form method="POST" action="/about/">
   {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputName" class="form-label">Name</label>
    <input type="text" class="form-control" id="exampleInputName" name="username" aria-describedby="nameHelp">
    
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
    
  </div>


<select class="form-select" aria-label="Default select example" name="select">
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
  <option value="4">Four</option>
  <option value="5">Five</option>
</select>





<div class="text-center mt-4">
    <button type="submit" class="btn btn-primary pt-2">Submit</button>
</div>

</form>








</div>


{%endblock%}